# Python virtual environment
venv/
*.env
.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Output directories
logs/
build/
dist/
data/raw_json_cricsheet/

# Configuration file
src/config.py

# IDE and Editor Folders
.idea/
.vscode/

# macOS files
.DS_Store

# testing files
tests/ai_comparison_against_cricinfo.yaml